/*css index*/

body {
    background-color: white;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e60000;
    padding: 20px;
    color: white;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.header-buttons button {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.header-buttons button:hover {
    background-color: #cc0000;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.welcome {
    text-align: left;
    font-size: 20px;
}

.recommendations {
    text-align: right;
    font-size: 20px;
}

.placeholder-boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
}

.placeholder-boxes .box {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    margin-top: 20px;
}

/* botões do histórico*/

button {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #cc0000;
}

button:focus {
    outline: none;
}



