/* 
paleta de cores: 
#e60000 - vermelho forte
#cc0000 - vermelho escuro

*/

/* geral e genéricos */
    
body {
    background-color: white;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#content-geral {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #000;
}

.fonte1 {
    font-family: Consolas, sans-serif;
}

.fonte2 {
    font-family: Arial, sans-serif, Consolas;
}

.campo {
    border-radius: 14px;
}


/* Escopos específicos */

#escopo-calc {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#dentro-da-borda {
    padding: 10px;
    background-color: #ccb474;
}


/* Cabeçalho */

#header {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 16px;
    padding: 0;
    background-color: #0000;
    color: white;
}

#header li {
    border-radius: 14px;
    padding: 10px 10px;
    font-size: 16px;
    background-color: #e60000;
    color: #fff;
    cursor: pointer;
}

#header li:hover {
    background-color: #cc0000;
}

#header li:focus {
    outline: none;
}


/* Manual */

#manual {
    display: absolute;
    background-color:
    margin: 30px auto 0;
    height: 500px;
}


/* Controles */

#controls {
    position: relative;
    z-index: 1;
    width: 420px;
    height: 480px;
    padding: 10px;
    margin-right: 10px;
    background: #fce8e8;
}

#extractDimensions{
    margin-bottom: 10px;
}

.control {
    margin-bottom: 10px;
}

.inputDimension {
    width: 98%;
}

#constrols input[type="file"] {
    margin-bottom: 10px;
}

#constrols button {
    display: block;
    margin-bottom: 10px;
}


/* Simulação*/

#simulacao {
    position: relative;
    width: 800px;
    height: 550px;
}

canvas {
    border-radius: inherit;
}


/* Resultados */

#escopo-results {
    width: auto;
    height: auto;
    padding: 7%;
    background-color: #f7dd95; 
}

#escopo-results h1{
    margin-bottom: 16px;
    color: #cc0000;
}


/* Histórico */


