/* geral e genéricos */
    
body {
    background-color: white;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#content-geral {
    display: flex;
    justify-content: space-between;
    padding: 20px;                  /* essa linha deixa o espaço a mais feio */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e60000;
    padding: 20px;
    color: white;
}

.header-buttons button {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.header-buttons:hover button {
    background-color: #cc0000;
}




/* Manual */




/* Cabeçalho */




/* Controles */

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background: rgb(252, 232, 232);
    padding: 10px;
}
#extractDimensions{
    margin-bottom: 10px;
}
.control {
    margin-bottom: 10px;
}
.inputDimension {
    width: 98%;
}
input[type="file"] {
    margin-bottom: 10px;
}
button {
    display: block;
    margin-bottom: 10px;
}

canvas { display: flex; }

#simulacao {
    display: flex;
}

#results {
    height: 100%;
    background-color: blue; 
}


/* Simulação*/




/* Resultados */




/* Histórico */

button {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #cc0000;
}

button:focus {
    outline: none;
}



